
@charset "UTF-8";
ul.dropdown li a.puc, ul li a.puc, ul li a.puc:hover {
    color: #CCCCCC;
}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.dropdown {
    float: right;/*left;*/
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
    z-index: 597;
}
ul.dropdown li {
    float: left;
    line-height: 1.5em;
    min-height: 1px;
    vertical-align: middle;
}
ul.dropdown li.hover, ul.dropdown li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}
ul.dropdown ul {
    left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
ul.dropdown ul li {
    float: none;
}
ul.dropdown ul ul {
    left: 99%;
    top: 1px;
}
ul.dropdown li:hover > ul {
    visibility: visible;
}
ul li a.current, ul li a.current:hover {
    border-bottom: 1px none;
    color: #333333;
    font-weight: bold;
}
ul li a.current span {
    background: none repeat scroll 0 0 #92C465;
    display: block;
    height: 18px;
    padding: 0 10px 0 0;
    width: auto;
}
